In [ ]:
# import the libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

Note: The base url and the number of pages on the website keeps changing.

In [ ]:
base_url = "https://www.screener.in/screens/214283/companies-creating-new-high/?page="

In [ ]:
# Specify the number of pages you want to loop through
num_pages = 20

In [ ]:
for page in range(1, num_pages + 1):
    url = base_url + str(page)

    # Make a GET request to the URL
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')

        # Find the table with the class 'data-table'
        table = soup.find('table', {'class': 'data-table'})

        # Extract the table headers
        headers = [th.text.strip() for th in table.find_all('th')]

        # Use a set to keep track of unique elements while preserving order
        seen = set()

        # Create a new list with unique elements in the original order
        headers_1 = [x for x in headers if x not in seen and not seen.add(x)]

        # Removing the whitespaces and unwanted items from the string
        headers_2 = []
        for i in headers_1:
            x = ' '.join(i.split())
            if x not in headers_2:
                headers_2.append(x)

        # Extract the data rows
        if page == 1:
            rows = []
            for row in table.find_all('tr')[1:]:
                rows.append([td.text.strip() for td in row.find_all('td')])
        else:
           for row in table.find_all('tr')[1:]:
                rows.append([td.text.strip() for td in row.find_all('td')])




        # Create a Pandas DataFrame
        df = pd.DataFrame(rows, columns=headers_2)


    else:
        print(f"Failed to retrieve the page. Status code: {response.status_code}")

In [ ]:
df.to_csv('data.csv', index=False)

In [ ]:
data = pd.read_csv("data.csv")

In [ ]:
# Checking the head of the dataframe
data.head()

,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %,52w High Rs.
0,Swadeshi Polytex,124.95,5.13,487.31,0.00,45.75,480.58,54.55,448.24,481.94,139.90
1,Nestle India,2583.75,83.04,249114.08,0.64,655.61,17.02,4600.42,8.07,135.09,2770.75
2,Sona Machinery,139.30,24.79,191.17,0.00,NaN,NaN,NaN,NaN,111.57,151.85
3,Tips Industries,466.75,50.05,5994.33,1.29,34.65,71.62,64.83,27.17,88.63,531.10
4,Waaree Renewab.,1477.80,145.03,15391.18,0.01,64.46,158.05,324.19,338.81,83.80,1641.00

In [ ]:
data.shape

(519, 11)

In [ ]:
data.tail()

,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %,52w High Rs.
514,Sizemasters Tech,178.00,183.51,178.00,0.00,0.40,1100.00,2.76,13700.00,NaN,200.70
515,Jio Financial,352.55,8909.58,223984.96,0.00,293.82,NaN,413.61,NaN,NaN,374.50
516,Signpost India,401.80,60.93,2147.63,0.00,9.46,136.50,104.66,97.06,NaN,466.00
517,Owais Metal,267.15,NaN,485.74,0.00,NaN,NaN,NaN,NaN,NaN,285.45
518,Median: 499 Co.,505.00,36.91,6108.80,0.22,40.52,28.43,419.34,13.11,12.59,573.75

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519 entries, 0 to 518
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              519 non-null    object
 1   CMP Rs.           519 non-null    float64
 2   P/E               464 non-null    float64
 3   Mar Cap Rs.Cr.    519 non-null    float64
 4   Div Yld %         511 non-null    float64
 5   NP Qtr Rs.Cr.     516 non-null    float64
 6   Qtr Profit Var %  483 non-null    float64
 7   Sales Qtr Rs.Cr.  516 non-null    float64
 8   Qtr Sales Var %   476 non-null    float64
 9   ROCE %            504 non-null    float64
 10  52w High Rs.      519 non-null    float64
dtypes: float64(10), object(1)
memory usage: 44.7+ KB

In [ ]:
# Removing all the whitespaces present in the dataframe
data = data.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [ ]:
# Checking the dataframe if there is any cleaning required
data.iloc[:27,:]

,Name,CMP Rs.,P/E,Mar Cap Rs.Cr.,Div Yld %,NP Qtr Rs.Cr.,Qtr Profit Var %,Sales Qtr Rs.Cr.,Qtr Sales Var %,ROCE %,52w High Rs.
0,Swadeshi Polytex,124.95,5.13,487.31,0.00,45.75,480.58,54.55,448.24,481.94,139.90
1,Nestle India,2583.75,83.04,249114.08,0.64,655.61,17.02,4600.42,8.07,135.09,2770.75
2,Sona Machinery,139.30,24.79,191.17,0.00,NaN,NaN,NaN,NaN,111.57,151.85
3,Tips Industries,466.75,50.05,5994.33,1.29,34.65,71.62,64.83,27.17,88.63,531.10
4,Waaree Renewab.,1477.80,145.03,15391.18,0.01,64.46,158.05,324.19,338.81,83.80,1641.00
5,Lloyds Metals,587.70,24.11,29693.77,0.00,331.57,44.14,1910.53,91.13,81.99,687.85
6,Colgate-Palmoliv,2724.15,58.08,74093.01,1.42,330.11,35.71,1395.65,8.08,79.13,2768.00
7,Suratwwala Busi.,820.85,67.18,1423.47,0.00,6.54,-63.67,16.35,-57.03,75.99,872.45
8,Coal India,422.25,8.86,260221.24,5.70,9093.69,17.49,36153.97,2.80,70.49,487.75
9,Advani Hotels.,164.90,30.17,762.19,1.45,9.31,6.40,32.29,11.34,66.37,175.00
10,R K Swamy,271.40,44.04,1370.28,0.00,7.93,NaN,141.10,NaN,65.89,288.00
11,CG Power & Indu.,470.45,83.59,71853.37,0.32,747.67,-6.61,1978.75,12.91,61.65,503.45
12,Guj. Themis Bio.,371.05,49.04,2695.48,0.28,13.01,32.62,38.86,37.95,61.14,399.00
13,I R C T C,918.65,64.64,73492.00,0.61,300.00,21.98,1118.30,21.81,59.19,1049.75
14,TCS,4144.75,32.95,1499606.82,1.15,11097.00,8.54,60583.00,4.04,58.67,4249.30
15,Castrol India,201.00,23.30,19881.29,3.75,241.94,25.15,1264.04,7.49,56.72,219.60
16,Shilchar Tech.,3970.00,36.45,3027.86,0.13,26.09,119.43,117.96,72.78,53.83,4514.00
17,Jeena Sikho,805.60,60.45,2002.73,0.14,22.56,NaN,117.80,NaN,52.44,930.00
18,Panorama Studios,965.00,105.26,1201.15,0.00,2.29,-93.01,33.15,-83.06,52.41,1074.50
19,Gillette India,6690.60,55.80,21804.63,1.26,103.95,39.62,639.46,3.37,52.01,7335.65
20,Prudent Corp.,1241.30,37.95,5139.82,0.12,35.70,25.31,209.93,32.57,51.45,1449.00
21,Apar Inds.,6093.45,29.43,24476.37,0.68,217.57,28.06,4013.16,1.88,51.14,6541.55
22,Hindustan Zinc,295.30,14.99,124773.66,25.60,2038.00,-5.52,7310.00,-7.07,50.39,344.00
23,Britannia Inds.,4959.75,55.36,119464.66,1.46,555.66,-11.17,4256.33,1.42,48.59,5386.25
24,Cams Services,2929.95,46.20,14398.68,1.29,85.55,20.53,268.88,15.16,48.47,3242.00
25,Median: 499 Co.,505.00,36.91,6108.80,0.22,40.52,28.43,419.34,13.11,12.59,573.75
26,Anand Rathi Wea.,3604.80,72.10,15078.24,0.33,56.92,32.68,174.89,31.51,47.91,4199.80

If you look at row index== 25 , it shows non stock data which we need to drop.

In [ ]:
# Dropping all the rows with name "Median: 1219 Co." from the dataframe
df.drop(df[df['Name'] == 'Median: 499 Co.'].index,  axis = 0, inplace = True)

In [ ]:
# Checking if there are any rows remaining with the name "Median: 1219 Co."
sum(df['Name'] == 'Median: 499 Co.')

0

In [ ]:
df.shape

(499, 11)

The number of rows of the website matches with that of the dataframe.